@import "tailwindcss";

html, body {
  @apply bg-slate-900
}

.flip-card {
  perspective: 1000px;
}

.flip-card-inner {
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.flip-card-inner.flipped {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}